{% extends 'base.html' %}
{% block title %}Courses{% endblock %}

{% block content %}
<h2 class="form_title">Courses</h2>
<br>
<div class="table_actions">
    <!-- Search Form -->
    <form method=" GET" action="{% url 'course_list' %}" class="d-flex">
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <input type="text" name="q" class="form-control me-2" placeholder="Search courses..."
            value="{{ request.GET.q }}">
    </form>
    {% if request.session.user.role == "admin" %}
    <a href="{% url 'course_add' %}" class="btn btn-primary">+ Add New Course</a>
    {% endif %}
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Field</th>
            <th>Start Date</th>
            <th>Credits</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.field }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.credits }}</td>
            <td>${{ course.cost }}</td>
            <td>
                <a href="{% url 'course_detail' course.id %}" class="btn btn-info btn-sm">Show</a>
                {% if request.session.user.role == 'admin' %}
                <a href="{% url 'course_edit' course.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'course_delete' course.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% else %}
                {% if course.is_enrolled %}
                <a href="{% url 'cancel_enrollment' course.id %}" class="btn btn-secondary btn-sm">Cancel</a>
                {% else %}
                <a href="{% url 'enroll_course' course.id %}" class="btn btn-success btn-sm">Enroll</a>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}